/* SEARCH BAR COMPONENTS STYLES bg-[#80110a]*/

.inputSearch {
  @apply p-4 bg-[#80110a] block w-full pl-10 text-sm text-yellow-300 border border-yellow-300 rounded-lg placeholder-yellow-700;
}

.inputSearch:hover {
  @apply ring-yellow-500 border-yellow-500;
}

/* CARD COMPONENTS STYLES */

.sectionCard:hover {
  @apply shadow-2xl transition-shadow duration-300 ease-in-out;
}

.divTitle {
  @apply font-bold text-yellow-500 text-xl mb-1 flex justify-center;
}

.pIngredients {
  @apply text-gray-300 text-base flex justify-center;
}

.pPrice {
  @apply text-yellow-500 font-semibold text-base flex justify-center;
}

.buttonSubmitGroup {
  @apply gap-2 flex
}

.buttonSubmitWhatsapp {
  @apply bg-green-900 rounded-md text-lg font-sans text-green-200 flex justify-center w-full p-2;
}

.buttonSubmitWhatsapp:hover {
  @apply bg-green-800 text-yellow-300 drop-shadow-md transition-colors duration-100 animated-bounce;
}

.buttonSubmitClose {
  @apply bg-green-900 rounded-md text-lg font-sans text-yellow-600 flex justify-center items-center w-full p-2;
}

.buttonSubmitClose:hover {
  @apply bg-green-800 text-yellow-300 drop-shadow-md transition-colors duration-100;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-1px);
  }
}

.animated-bounce {
  animation-name: bounce;
  animation-duration: 300ms;
  animation-iteration-count: infinite;
}