.search-form {
  top: 85px;
  z-index: 2;
  width: 100%;
  position: fixed;
  padding: 1rem;
  background-color: var(--bg-color);
}

@media screen and (min-width: 768px) {
  .search-form {
    top: 130px;
  }
}

@media screen and (min-width: 1024px) {
  .search-form {
    top: 160px;
  }
}

@media screen and (min-width: 1280px) {
  .search-form {
    top: 180px;
  }
}

.inputSearch {
  @apply p-4 bg-[#80110a] block w-full pl-10 text-sm text-yellow-300 border border-yellow-300 rounded-lg placeholder-yellow-700;
}

.inputSearch:hover {
  @apply ring-yellow-500 border-yellow-500;
}
