.search-form {
  background-color: var(--bg-color);
  width: 100%;
  text-align: center;
}

.inputSearch {
  @apply p-4 bg-[#80110a] block w-full pl-10 text-sm text-yellow-300 border border-yellow-300 rounded-lg placeholder-yellow-700;
}

.inputSearch:hover {
  @apply ring-yellow-500 border-yellow-500;
}